#menu{
    background-color: rgb(246, 96, 32);
    display: flex;
    justify-content: center;
}
.item-menu{
    font-size: 40px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.item-menu:hover{
    color: rgb(0, 0, 0);
}